.cart {
  padding: 20px 20px;
  margin-left: 10px;
  background: rgba(255, 153, 0, 0.3);

  height: 100vh;
}

.clear-btn {
  width: 100%;
  padding: 15px 0px;
  background-color: #ff3030;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.order-btn {
  cursor: pointer;
  width: 100%;
  padding: 15px 0px;
  background-color: #ff9900;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
}
